<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sumeet.easynote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="sumeet.easynote.MainActivity" />
        <activity android:name="sumeet.easynote.EditActivity" />
        <activity android:name="sumeet.easynote.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sumeet.easynote.NotesListActivity" />
        <activity android:name="sumeet.easynote.NoteEditActivity" />
        <activity android:name="sumeet.easynote.ToDoActivity" />
        <activity android:name="sumeet.easynote.ToDoEditActivity"></activity>
    </application>

</manifest>